<tr data-hook="file">
  <td><%= t("filename") %>:</td>
  <td><%= f.file_field :attachment %></td>
</tr>
<tr data-hook="alt_text">
  <td><%= t("alt_text") %>:</td>
  <td><%= f.text_field :alt, :class => 'fullwidth' %></td>
</tr>
<% if @product.has_variants? %>
  <tr data-hook="variant">
    <td><%= t("shares_description") %></td>
    <td>
      <table class="index">
        <tr>
          <th><%= Spree::Variant.model_name.human.pluralize %></th>
        </tr>
        <%= render "assets_shares" %>
      </table>
    </td>
  </tr>
<% else %>
  <%= hidden_field_tag :shareable_id, @product.id %>
<% end %>
