<% if Spree::SharedAssets::Config[:cropbox_width] == 0 && Spree::SharedAssets::Config[:cropbox_height] == 0 %>
<td><%= t(:thumbnail) %>:</td>
<td><%= link_to image_tag(@image.attachment.url(:mini)), @image.attachment.url(:product) %></td>
<% else %>
<td><%= t(:thumbnail) %>:</td>
<td>
  <% width  = Spree::SharedAssets::Config[:cropbox_width]  > 0 ? "width: #{Spree::SharedAssets::Config[:cropbox_width]}px" : nil %>
  <% height = Spree::SharedAssets::Config[:cropbox_height] > 0 ? "height: #{Spree::SharedAssets::Config[:cropbox_height]}px" : nil %>
  <div class="cropbox" style="<%= [width, height].compact.join("; ") %>">
  <%= image_tag(@image.attachment.url(:mini)) %>
  </div>
</td>
</tr>
<% end %>
