<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t("shared_asset_settings.title") %></h1>
<% options = Spree::Image.attachment_definitions[:attachment][:styles].map { |(s,v)| ["#{s}", "#{s}"] } %>
<%= form_tag(admin_shared_asset_settings_path, :method => :put) do -%>
  <p>
    <label><%= t("admin_style") %>:</label>
    <%= select_tag 'preferences[admin_style]', options_for_select(options, Spree::SharedAssets::Config[:admin_style]) %>
  </p>
  <p>
    <label><%= t("cropbox_width") %>:</label>
    <%= text_field_tag('preferences[cropbox_width]', Spree::SharedAssets::Config[:cropbox_width], :size => 3) %>
  </p>
  <p>
    <label><%= t("cropbox_height") %>:</label>
    <%= text_field_tag('preferences[cropbox_height]', Spree::SharedAssets::Config[:cropbox_height], :size => 3) %>
  </p>
  <p class="form-buttons">
    <%= button t('update') %>
    <%= t("or") %> <%= link_to t("cancel"), admin_shared_asset_settings_url %>
  </p>
<% end -%>