<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("shared_asset_settings.title") %></h1>

<table>
  <tr>
    <th scope="row"><%= t("admin_style") %>:</th>
    <td><%= Spree::SharedAssets::Config[:admin_style] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("cropbox_width") %>:</th>
    <td><%= Spree::SharedAssets::Config[:cropbox_width] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("cropbox_height") %>:</th>
    <td><%= Spree::SharedAssets::Config[:cropbox_height] %></td>
  </tr>
</table>

<p>
  <%= link_to_with_icon('edit', t("edit"), edit_admin_shared_asset_settings_path) %>
</p>